



/* width */
::-webkit-scrollbar {
  width: 0;
  opacity: 0;
}

/* Track */
::-webkit-scrollbar-track {
  // background-color: $bg-regular;
}

/* Handle */
::-webkit-scrollbar-thumb {
  // background-color: $bg-lighter;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  // background-color: $bg-light;
}


@keyframes bg-jitter {
  0% { background-position: 50% 50%; }
  10% { background-position: 30% 60%; }
  20% { background-position: 40% 80%; }
  30% { background-position: 50% 20%; }
  40% { background-position: 0% 40%; }
  50% { background-position: 20% 80%; }
  60% { background-position: 40% 70%; }
  70% { background-position: 10% 90%; }
  80% { background-position: 60% 40%; }
  90% { background-position: 80% 30%; }
  100% { background-position: 50% 50%; }
}
