
$color-header: #000000;
$color-major: #000000;
$color-regular: #131313;
$color-minor: #454545;
$color-sub: #939393;
$color-border: #dddddd;
$bg-lighter: #ffffff;
$bg-light: #fefefe;
$bg-regular: #fdfdfd;
$bg-dark: #f5f5f5;
$bg-darker: #ebebeb;

$font-header: "Space Mono 600", "Roboto", sans-serif;
$font-major: "Space Mono 600", "Roboto", sans-serif;
$font-regular: "Space Mono 400", "Roboto", sans-serif;
$font-minor: "Space Mono 400", "Roboto", sans-serif;
$font-sub: "Space Mono 400", "Roboto", sans-serif;

$gap: 0.6vw;

$color-beige: #bc9a6e;
